pandas==1.5.2
requests==2.28.1
selenium==4.7.2
beautifulsoup4==4.11.1
webdriver-manager==3.8.5
loguru==0.6.0
psycopg2-binary==2.9.5
SQLAlchemy==1.4.46
streamlit==1.16.0
scikit-learn==1.2.0
matplotlib==3.6.2
wordcloud==1.8.2.2
spacy==3.4.4
spacy-legacy==3.0.11
spacy-loggers==1.0.4
nltk==3.8.1